/* font-family: 'Poppins', sans-serif; */
/* color: #9D9CA2; - szary */
/* color: #2A2732; */
/* color: #EFF1F7; - jasny szary */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

body.js-mobile-menu-open {
    overflow: hidden;
    height:100%;
}

.wrapper{
    overflow: hidden;
}

/* MENU */

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}

.logo{
    margin: 2rem 6vw;
}

.burger{
    margin: 2rem 6vw;
    cursor: pointer;
}

.burger div {
    display: flex;
    width: 2.5rem;
    height: 0.3rem;
    background-color: #9D9CA2;
    margin: 0.7rem 0;
    border-radius: 10px;
    transition: all .3s ease;
}

.burger div:nth-child(1){
    margin: 0;
}

.menu_links{
    display: none;
}

@media all and (max-width: 1023px){
    .menu_links{
        position: fixed;
        right: 0;
        top: 78px;
        display: flex;
        flex-direction: column;
        flex-grow: 5;
        width: 100%;
        height: 100%;
        background-color: #fff;
        align-items: center;
        z-index: 99;
        line-height: calc((100vh - 78px)/5);
        transform: translateX(100%);
        transition: transform .5s ease-in;

    }

    .active_menu{
        transform: translateX(0%);
    }

    .menu_links li a{
        display: block;
        width: 100vw;
        text-align: center;
        font-size: 2rem;
        color: #9D9CA2;
        transition: color .3s;
    }

    .menu_links li a:hover{
        color: #2A2732;
    }

    @keyframes navLinkFade {
        from{
            opacity: 0;
            transform: translateX(-100px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .change_burger_icon .first_line{
        transform: rotate(-45deg) translate(-8px,6px);
    }

    .change_burger_icon .second_line{
        opacity: 0;
    }

    .change_burger_icon .third_line{
        transform: rotate(45deg) translate(-8px,-6px);
    }
}

@media all and (min-width: 1024px){
    *{
        font-size: 16px;
    }

    .burger{
        display: none;
    }

    .logo{
        margin: 2rem 2vw 2rem 2rem;
    }

    nav{
        width: 100vw;
    }

    .menu_links{
        display: flex;
    }

    .menu_links li a{
        color: #9D9CA2;
        margin: 0 2vw;
        transition: color .3s;
    }

    .menu_links li a:hover{
        color: #2A2732;
    }

    .menu_links li:nth-child(4){
        margin-left: auto;
    }

    .menu_links li:nth-child(5) a{
        color: #fff;
        padding: 1rem 2.5rem;
        background-color: #29D1D2;
        border-radius: 30px;
        margin-right: 2rem;
        transition: background-color .3s;
    }

    .menu_links li:nth-child(5) a:hover{
        background-color: #98E4E4;
    }
}

/* MAIN AREA */

.top_main_wrapper{
    display: flex;
    flex-wrap: wrap-reverse;
}

main img{
    display: block;
    width: 120%;
    margin-left: 2rem;
}

.text_area_main{
    width: 100%;
    text-align: center;
    margin: 4rem 2rem 0 2rem;
}

.bold_text_main{
    font-size: 3.5rem;
    color: #2A2732;
    letter-spacing: 1px;
    line-height: 1.2;
    font-weight: 800;
    max-width: 400px;
    margin: 0 auto;
}

.normal_text_main{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    color: #9D9CA2;
    max-width: 370px;
    margin: 1rem auto 0 auto;
}

.get_started{
    display: inline-block;
    color: #fff;
    font-size: 1.6rem;
    padding: 1.5rem 3rem;
    background-color: #29D1D2;
    border-radius: 30px;
    margin-top: 2.5rem;
    transition: background-color .3s;
}

.get_started:active{
    background-color: #98E4E4;
}

@media all and (min-width: 375px){
    .bold_text_main{
        font-size: 4rem;
    }

    .normal_text_main{
        font-size: 2rem;
    }

    .get_started{
        font-size: 2rem;
    }
}

@media all and (min-width: 425px){
    .illustration_working{
        width: 95%;
        max-width: 510px;
        margin: 0 auto;
    }
}

@media all and (min-width: 1024px){
    .top_main_wrapper{
        justify-content: space-between;
        max-width: 1440px;
        margin: 4rem auto;
        flex-shrink: 1;
    }
    
    .text_area_main{
        width: auto;
        margin: 0 0 0 2rem;
        text-align: left;
    }
    
    .bold_text_main{
        margin: 0;
        font-size: 3rem;
        max-width: 375px;
    }
    
    .normal_text_main{
        margin: 1rem 0 0 0;
        font-size: 1.25rem;
    }
    
    .get_started{
        margin: 2rem 0 0 0;
        font-size: 1.25rem;
        padding: 1rem 2.5rem;
    } 

    .illustration_working{
        display: block;
        margin-right: 2rem;
        position: relative;
        right: 0;
        max-width: 560px;
    }

    .get_started:hover{
        background-color: #98E4E4;
    }
}

@media all and (min-width: 1200px){
    .illustration_working{
        max-width: none;
        width: 650px;
    }

    .bold_text_main{
        font-size: 3.5rem;
        max-width: 450px;
    }
    
    .normal_text_main{
        font-size: 1.4rem;
        max-width: 450px;
    }
}

@media all and (min-width: 1370px){
    .illustration_working{
        width: auto;
    }

    .bold_text_main{
        font-size: 4rem;
        max-width: 500px;
    }
    
    .normal_text_main{
        font-size: 1.5rem;
        max-width: 550px;
    }
}

/* ADD LINKS AREA */

.add_links_area{
    background-color: #F0F1F6;
    margin-top: 15rem;
}

.add_links{
    transform: translateY(-50%);
    background-color: #3A3053;
    background-image: url(img/bg-shorten-mobile.png);
    background-position: right top;
    background-repeat: no-repeat;
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    border-radius: 15px;
}

.add_links_form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.add_links_form [type=text], #submit_btn{
    font-size: 1.6rem;
    padding: 1.5rem;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    margin: 2rem;
    outline: none;
}

.add_links_form [type=text]{
    color: #9D9CA2;
}

.add_links_form [type=text]:active{
    border: none;
}

#submit_btn{
    color: #fff;
    background-color: #29D1D2;
    margin-top: 0;
    font-weight: 800;
    cursor: pointer;
    text-align: center;
    transition: background-color .3s;
}

#submit_btn:active{
    background-color: #98E4E4;;
}

@media all and (min-width: 375px){
    .add_links_form [type=text], #submit_btn{
        padding: 2rem;
        margin: 2.5rem;
        font-size: 2rem;
    }

    #submit_btn{
        margin-top: 0;
    }
}

@media all and (min-width: 1024px){
    .add_links_area{
        margin-top: 12rem;
    }

    .add_links_form{
        flex-direction: row;
        justify-content: space-around;
    }

    .add_links_form [type=text], #submit_btn{
        font-size: 1.25rem;
        padding: 1.2rem;
        margin: 2.5rem;
    }

    #submit_btn{
        margin-left: 0;
        width: 20%;
    }

    .add_links_form [type=text]{
        width: 80%;
    }

    .add_links{
        background-image: url(img/bg-shorten-desktop.png);
    }

    #submit_btn:hover{
        background-color: #98E4E4;;
    }
}

/* ADD LINKS AREA => ADDED LINK JS */

.active_added_link{
    width: 90%;
    max-width: 1440px;
    border-radius: 15px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 2rem;;
    transform: translateY(-80.5px);
}

.original_link p, .changed_link p{
    font-size: 1.6rem;
    text-align: center;
    margin: 1.5rem;
}

.orginal_link p{
    color: #2A2732;
}

.changed_link p{
    color: #53CFC7;
    margin-top: 0;
}

.copy_button{
    color: #fff;
    font-size: 1.6rem;
    font-weight: 800;
    width: 90%;
    padding: 1.5rem;
    text-align: center;
    background-color: #29D1D2;
    border-radius: 8px;
    border: none;
    margin: 0 auto 1.5rem auto;
}

.copy_button:hover{
    background-color: #98E4E4;
}

@media all and (min-width: 375px){
    .original_link p, .changed_link p, .copy_button a{
        font-size: 2rem;
    }

    .active_added_link{
        transform: translateY(-103px);
    }

    .copy_button{
        font-size: 2rem;
        padding: 2rem;
    }
}

@media all and (min-width: 1024px){
    .active_added_link{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        transform: translateY(-73px);
    }

    .copy_button{
        font-size: 1.25rem;
        margin: 1.5rem;
        padding: 1rem 3rem;
        width: auto;
    }

    .changed_link p{
        width: 100%;
        text-align: right;
    }

    .original_link p, .changed_link p{
        font-size: 1.25rem;
        margin: 1.5rem;
    }

    .copy_button a{
        font-size: 1.25rem;
        padding: 1.5rem;
    }
}

/* STATISTICS */

.statistics{
    background-color: #F0F1F6;
    padding: 0 2rem 10rem 2rem;
}

.brand_recognition, .detailed_records, .fully_customizable{
    background-color: #fff;
    border-radius: 8px;
    max-width: 450px;
    margin: 3rem auto 0 auto;
    padding: 2rem;
}

.brand_recognition{
    margin-top: 0;
}

.b_r_icon, .d_r_icon, .f_c_icon{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #3A3053;
    margin: 0 auto;
}

.b_r_icon img, .d_r_icon img, .f_c_icon img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.statistics h2{
    font-size: 2.5rem;
    color: #2A2732;
    text-align: center;
    padding-bottom: 1rem;
}

.statistics h3{
    font-size: 1.6rem;
    color: #2A2732;
    text-align: center;
    padding: 1rem 0;
}

.statistics div p, .statistics_text{
    font-size: 1.6rem;
    color: #9D9CA2;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    max-width: 390px;
}

.brand_recognition p, .detailed_records p, .fully_customizable p{
    max-width: none;
}

.statistics_div_wrapper{
    margin-top: 10rem;
}

@media all and (min-width: 375px){
    .statistics h2{
        font-size: 3rem;
    }
    
    .statistics h3{
        font-size: 2rem;
    }
    
    .statistics div p, .statistics_text{
        font-size: 2rem;
    }
}

@media all and (min-width: 1024px){
    .statistics_div_wrapper{
        display: flex;
        flex-wrap: wrap;
        margin-top: 2rem;
    }

    .statistics h2{
        font-size: 2rem;
        padding-top: 2rem;
    }
    
    .statistics h3{
        font-size: 1.25rem;
    }
    
    .statistics div p, .statistics_text{
        font-size: 1.25rem;
    }

    .statistics_text{
        max-width: 530px;
    }

    .brand_recognition, .detailed_records, .fully_customizable{
        margin: 5rem auto 0 auto;
    }

    .brand_recognition{
        margin-top: 5rem;
    }
}

@media all and (min-width: 1400px){
    .brand_recognition, .detailed_records, .fully_customizable{
        width: 30vw;
        max-height: 356px;
    }

    .detailed_records{
        margin-top: 9rem;
    }
    
    .fully_customizable{
        margin-top: 13rem;
    }

    .statistics_div_wrapper{
        max-width: 1450px;
        margin: 0 auto;
    }
}

@media all and (min-width: 1413px){
    .brand_recognition, .detailed_records, .fully_customizable{
        max-height: 326px;
    }
}

/* BOOST LINK */

section.boost_section{
    position: relative;
    width: 100vw;
    height: 300px;
    background-color: #3A3053;
    background-image: url(img/bg-boost-mobile.png);
    background-repeat: no-repeat;
    background-position: right;
}

.boost{
    width: 100vw;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.boost_btn{
    display: inline-block;
    color: #fff;
    font-size: 1.6rem;
    padding: 1.5rem 3rem;
    background-color: #29D1D2;
    border-radius: 30px;
    margin-top: 1.5rem;
    transition: background-color .3s;
}

.boost_btn:active{
    background-color: #98E4E4;
}

.boost h3{
    font-size: 2.5rem;
    color: #fff;
}

@media all and (min-width: 768px){
    section.boost_section{
        height: 250px;
        background-image: url(img/bg-boost-desktop.png);
    }
}

@media all and (min-width: 1024px){
    .boost_btn{
        font-size: 1.25rem;
        padding: 1rem 2.5rem;
    }

    .boost h3{
        font-size: 2rem;
    }

    .boost_btn:hover{
        background-color: #98E4E4;
    }
}

/* BOTTOM AREA */

.bottom_area{
    background-color: #232027;
    text-align: center;
}

.white_logo{
    padding: 3rem 0;
}

.features h3, .resources h3, .company h3{
    font-size: 1.6rem;
    color: #fff;
    padding: 2rem 0;
}

.features h3{
    padding-top: 0;
}

.features a, .resources a, .company a{
    display: block;
    font-size: 1.6rem;
    color: #9D9CA2;
    font-weight: 400;
    line-height: 2;
    transition: color .3s;
}

.social_media{
    width: 100vw;
    text-align: center;
}

.fab{
    color: #fff;
    font-size: 2.5rem;
    font-weight: 400;
    margin: 2.5rem 1rem;
    transition: color .3s;
}

.fa-instagram{
    margin-right: 0;
}

.fa-facebook-square{
    margin-left: 0;
}

.fab:hover, .features a:hover, .resources a:hover, .company a:hover{
    color: #29D1D2;
}

@media all and (min-width: 375px){
    .features a, .resources a, .company a{
        font-size: 2rem;
    }

    .features h3, .resources h3, .company h3{
        font-size: 2rem;
    }
}

@media all and (min-width: 1024px){
    .bottom_area_wrapper{
        display: flex;
        justify-content: space-between;
        padding: 3.5rem 2rem;
        max-width: 1440px;
        margin: 0 auto;
    }

    .features a, .resources a, .company a{
        text-align: left;
        font-size: 1.25rem;
    }

    .features h3, .resources h3, .company h3{
        text-align: left;
        font-size: 1.25rem;
    }

    .fab{
        font-size: 1.5rem;
    }

    .social_media{
        width: auto;
    }

    .white_logo{
        padding: 0;
    }

    .features h3, .resources h3, .company h3{
        padding: 0 0 1.5rem 0;
    }

    .fab{
        margin: 0 .5rem;
    }
}



